/* start variable */

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --primary-color: #fafafa;
    --third-color: #777;
    --pa-padding: 60px;
    --section-height: 1.8;
    --main-duration:0.4s;
    --main-weight:800;

}

* {
    /* margin:0;
    padding:0; */
    box-sizing: border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;


}

body {
    font-family: "Work Sans", sans-serif;

}
html{
    scroll-behavior: smooth;
}

.container {


    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
width:80%;

}

/* mobile */
@media (max-width:767px) {
    .container {
        width:100%;
    }

}

/* small devices 
@media (min-width:768px) {
    .container {
        width: 750px
    }

}

/* medium devices 
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large devices 
@media (min-width:1200px) {
    .container {
        width: 1000px;
    }
}

/* global rule */
/* start component */
.special-heading {
    color: #f6f6f6;
    font-size: 100px;
    text-align: center;
    font-weight: var(--main-weight);
    margin: 0;
    letter-spacing: -3px;

}

.special-heading+p {
    margin-top: -30px;
    text-align: center;
    color: #575757;
    word-spacing: -1px;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }

    .services .service-content .col .serv {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

}

/* end component */

/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 55px;
}

.header .linkes {
    position: relative;
}

.header .linkes .icons {
    width: 30px;
    display: flex;
    flex-flow: row-reverse wrap;
    /* justify-content: end; */


}

.header .linkes .icons span {
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}

.header .linkes .icons span:first-child {
    width: 100%;

}

.header .linkes .icons span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration)

}

/* .header .linkes :hover.icons span:nth-child(2){
        width:100%;
    } */
.header .linkes:hover .icons span:nth-child(2) {
    width: 100%;

}

.header .linkes .icons span:last-child {
    width: 100%;
}


.header .linkes ul {
    background-color: var(--primary-color);
    min-width: 200px;
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    opacity: 0;
    visibility: hidden;
    transition:var(--main-duration);
    z-index: 1;
}

.header .linkes:hover ul {
    visibility: visible;
    opacity: 1;

}

.header .linkes ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -19px;
}

.header .linkes ul a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 15px;

    transition: all 0.2s ease;

}

.header .linkes ul a:hover {
    padding-left: 25px;
}

.header .linkes ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;

}

/* end header */
/* start landing */
.landing {
    background-image: url(../images/beautiful-shot-mountain-clouds-black-white.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 63.94px);
    position: relative;

}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 320px;
    /*no stretch   */
    max-width: 100%;
    text-align: center;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);

}

.landing .intro-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: var(--section-height);


}

/* end landing */
/* start feature */
.feature {
    background-color: var(--primary-color);
    padding: var(--pa-padding) 0;
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 gap:20px;
}

.feature .container .feat {
    padding: 20px;
    text-align: center;
    box-shadow: 2px 5px white;
    background-color: white;
}

.feature .container i {
    color: var(--main-color);
    margin-bottom: 10px;
    font-size: 40px
}

.feature .container h3 {
    font-weight: var(--main-weight);
    margin: 30px 0;

}

.feature .container p {
    font-size: 17px;
    line-height: var(--section-height);
    color: var(--third-color);
}

/* end feature */
/* start services */
.services {
    padding: var(--pa-padding) 0;
}
.grid-elements{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.services .service-content {
    margin: 100px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 33px;
}

.services .service-content .serv {
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
}

.services .service-content .serv i {
    font-size: 20px;
    color: var(--main-color);
    flex-basis: 40px;
}

.services .service-content .serv .graph {
    flex: 1;
}

.services .service-content .serv h4 {
    font-weight:var(--main-weight);
    font-size: 20px;
    margin: 0 0 20px;

}

.services .service-content .serv p {
    font-weight: 300;
    color: var(--third-color);
    line-height: var(--section-height);


}

.services .service-content .col .imag {
    position: relative;
    text-align: center;


}

.services .service-content .col .imag img {
    width: 290px;
    height: 360px;


}

.services .service-content .imag::before {
    content: '';
    width: 90px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    position: absolute;
    right: 0;
    top: -50px;
    z-index: -1;
}

@media(max-width:1199px) {
    .services .service-content .col .imag {
        display: none;
    }
}

/* end services */
/* start portfolio */
.portfolio {
    background-color: var(--primary-color);
    padding-top: var(--pa-padding);
    padding-bottom: var(--pa-padding);
}

.portfolio .portfolio-content {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;

}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    width: 100%;
    height: 300px;
    max-width: 100%
}

.portfolio .portfolio-content .card .pro {
    padding: 20px;
}

.portfolio .portfolio-content .card .pro h3 {
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-content .card .pro p {
    color: #4d4c4c;
    font-weight: 300;
    line-height: var(--section-height);
    margin-bottom: 0;
    padding: 0;
}

/* end portfolio */
/* start about */
.about {

    padding-top: var(--pa-padding);
    padding-bottom: calc(var(--pa-padding) + 60px);
}

.about .about-content {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width:991px) {
    .about .about-content {
        text-align: center;
        flex-direction: column;

        gap: 50px;

    }
}

.about .imag-about {

    height: 309px;
    width: 209px;
    position: relative;
}

@media(max-width:991px) {
    .about .imag-about {
        margin-left: auto;
        margin-right: auto;
    }
}

.about .imag-about img {
    height: 300px;
    width: 200px;

}

.about .imag-about::before {
    content: '';
    background-color: #f6f6f6;
    height: calc(100% + 80px);
    width: 69px;
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -10px;
}

.about .imag-about::after {
    content: '';

    width: 100px;
    position: absolute;
    border-bottom: 50px solid var(--main-color);
    border-left: 55px solid var(--main-color);
    z-index: -1;
    right: -120px;
    top: -20px;
    height: 150px;
}

@media(max-width:991px) {

    .about .imag-about::after,
    .about .imag-about::before {
        display: none;
    }
}

.about .about-text {
    /* text-align: center; */
    flex-basis: calc(100% - 500px);
    /* flex:1;
 padding-left:200px; */
}

.about .about-text p:first-child {
    padding: 0 0 30px;
    font-weight: bold;
    line-height: var(--section-height);


}

.about .about-text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}

.about .about-text p:last-child {
    line-height: var(--section-height);
    color: var(--third-color);
}

/*end about */
/* start contact */
.contact {
    background-color: var(--primary-color);
    padding: var(--pa-padding) 0;
    max-width: 100%;
}

.contact-content {
    text-align: center;
    padding: var(--pa-padding) 0;


}

.contact .contact-content p {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: var(--main-weight);
    letter-spacing: -1px;
    word-spacing: -1px;
    margin-bottom: 15px;
}

.contact .contact-content a {
    color: var(--main-color);
    font-size: 30px;
    font-weight: var(--main-weight);
    letter-spacing: -1px;
    text-decoration: none;


    display: block;

}

.soc-contact {
    display: flex;
    justify-content: center;
    margin-top: 27px;
    font-size: 1rem;
}


.contact-content .soc-contact i {

    margin-left: 1rem;
    color: var(--secondary-color)
}

@media(max-width:767px) {

    .contact .contact-content a,
    .contact .contact-content p {
        font-size: 1.6rem;

    }
}

/* end contact */
/* start footer */
.footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 50px 10px;
    vertical-align: center;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}

/* end footer */